
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- ... -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/22.2.4/css/dx.light.css">

    <!-- DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.4/js/dx.all.js"></script>
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.4/js/dx.web.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/22.2.4/js/dx.viz.js"></script> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'dms/style.css' %}">

    <script src="{% static 'dms/site.js' %}" ></script>
     <script src="{% static 'dms/site_project_data.js' %}" ></script>
    <script src="{% static 'dms/filedata.js' %}" ></script>
    <script src="{% static 'dms/file.js' %}"></script>
</head>
<body class="dx-viewport">
<nav class="navbar navbar-expand-sm bg-light mynav">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
  </div>
</nav>



<div class="demo-container mycontainer">
    <div class="left-content">
        gdfgdf
        <div id="treeview"></div>
    </div>

    <div class="left-content">

        <div id="file-manager"></div>
    </div>
</div>






</body>

