<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/22.2.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/22.2.3/js/dx.all.js"></script>


</head>
  <body class="dx-viewport">
    <div class="demo-container">
      <div id="file-manager"></div>
    </div>
  </body>
</html>

<script>

<h1> test</h1>
$(() => {
  const provider = new DevExpress.fileManagement.RemoteFileSystemProvider({
    endpointUrl: 'https://js.devexpress.com/Demos/Mvc/api/file-manager-db',
  });

  $('#file-manager').dxFileManager({
    name: 'fileManager',
    currentPath: 'Documents/Reports',
    fileSystemProvider: provider,
    permissions: {
      create: false,
      copy: true,
      move: false,
      delete: false,
      rename: false,
    },
    itemView: {
      details: {
        columns: [
          'thumbnail', 'name',
          {
            dataField: 'dateModified',
            caption: 'Modified',
          },
          {
            dataField: 'created',
            caption: 'Created',
            dataType: 'date',
          },
          {
            dataField: 'modifiedBy',
            caption: 'Modified By',
            visibleIndex: 2,
          },
        ],
      },
    },
    allowedFileExtensions: [],
    height: 550,
  });
});




</script>

<style>




</style>